[Unit]
{{#description}}
Description={{{ description }}}
{{/description}}
 
[Service]
Type=simple
User={{{ user }}}
Group={{{ group }}}
EnvironmentFile=/etc/default/{{{name}}}
EnvironmentFile=/etc/sysconfig/{{{name}}}
ExecStart={{{program}}} {{{shell_args}}}
{{#prestart}}
ExecStartPre=/lib/systemd/system/{{{name}}}-prestart.sh
{{/prestart}}
Restart=always
WorkingDirectory={{{chdir}}}

[Install]
WantedBy=multi-user.target
