<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Disabled</key> <false/>
    <key>Label</key> <string>{{{ name }}}</string>
    <key>Program</key> <string>{{{ program }}}</string>
    <key>ProgramArguments</key> 
      <array>
        <string>{{{ program }}}</string>
        {{{xml_args}}}
      </array>
    <key>KeepAlive</key> <true/>
    <key>StandardOutPath</key> <string>/var/log/{{name}}.out</string>
    <key>StandardErrorPath</key> <string>/var/log/{{name}}.err</string>
  </dict>
</plist>

